<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="column">
          <div class="card">
            <h1>Source  Analyse :</h1>
                  <mat-label style="color:black;font-size: 20px;"> Choose a Server Engine  Name  </mat-label>
                  <mat-form-field >
                    <mat-select  id="selectedServerSorceId" [(ngModel)]="selectedServerEngineSorceId" [compareWith]="comparer" >
                      <mat-option *ngFor="let obj  of liste_des_serveur " [value]="obj" (click)="setserveur(obj.Id)">
                        {{ obj.Name }} 
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                    <br><br>
                
              
                    <mat-label style="color:black;font-size: 20px;">Choose data warehouse   </mat-label>
                  <mat-form-field >
                  
                    <mat-select  id="database-select" [(ngModel)]="selectedDataWarhouse" required>
                      <mat-option *ngFor="let obj  of liste_des_bd  " [value]="obj" (click)="setbasedonnees(obj.Name)"> {{ obj.Name }} </mat-option>
                      
                    </mat-select>
                  </mat-form-field>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h1>Source  Engine :</h1>
                  <mat-label style="color:black;font-size: 20px;"> Choose a Server Analyse  Name  </mat-label>
                  <mat-form-field >
                    <mat-select  id="selectedServerSorceId" [(ngModel)]="selectedServerSorceId" [compareWith]="comparer" >
                      <mat-option *ngFor="let obj  of liste_des_serveur " [value]="obj" (click)="setserveur(obj.Id)">
                        {{ obj.Name }} 
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                    <br><br>
                
              
                    <mat-label style="color:black;font-size: 20px;">Choose data base Cube </mat-label>
                  <mat-form-field >
                  
                    <mat-select  id="database-select" [(ngModel)]="selectedDatabase" required>
                      <mat-option *ngFor="let obj  of liste_des_bd  " [value]="obj" (click)="setbasedonnees(obj.Name)"> {{ obj.Name }} </mat-option>
                      
                    </mat-select>
                  </mat-form-field>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <h1>Destination :</h1>
           
                <mat-label style="color:black;font-size: 20px;"> Choose a Server Name  </mat-label>
              <mat-form-field >
                <mat-select multiple id="ServerAnalyse" [(ngModel)]="selectedServer" [compareWith]="comparer" >
                  <mat-option *ngFor="let obj  of liste_des_serveur " [value]="obj" >
                     {{ obj.Name }} 
                  </mat-option>
                </mat-select>
              </mat-form-field>
       
              <br><br>
            
               <mat-label style="color:black;font-size: 20px;"> Please Set a Name For the Cube </mat-label>
                   <mat-form-field class="example-full-width">
  
                   
                     <input matInput  [(ngModel)]="newCubename"  >
                   </mat-form-field>
          
          </div>
        </div>
      </div> 
     
      <button type="button" class="btn btn-success"   (click)="Dispatch()"  style="width:80% ; margin: top 30px; margin-left: 120PX; text-align: center ; text-size-adjust:3px ;"> Dispatch   <br> <i class="material-icons" >send</i></button>
      <br>
      <br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">date</th>
            <th scope="col">Serveur Source</th>
            <th scope="col">Data Base Source </th>
            <th scope="col">Serveur Targs</th>
            <th scope="col"> New DataBase Cube_Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of Table_Reponse" >
            <th scope="row">DATE </th>
            <td>serveur</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
      <br>   
    </div>
  </div>