
<div *ngIf="isLoading">
  <app-notifications></app-notifications>
</div>
<div class="main-content" *ngIf="!isLoading"  style="padding: 70px 60px ;margin-right: 60px ;" >
  <div class="container-fluid">
    <div *ngIf= "loading && MeassageError && MeassageError.length>0">
      <div class="col-sm-12">
        <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
          <button type="button" class="close font__size-18" data-dismiss="alert"  >
									<span aria-hidden="true">
										<i class="fa fa-times danger "  ></i>
									</span>
								     	<span class="sr-only" >Close</span>
								</button>
          <i class="start-icon far fa-times-circle faa-pulse animated" (click)="reset()"></i>
           
          <strong class="font__weight-semibold">Oh Error!</strong> Try again.
        </div>
        <button type="button" class="btn btn-success"   (click)="reset()" >  fff  ok</button>
      </div>
     
    </div>

  </div> 
    <div *ngIf= "loading && MeassageError && MeassageError.length == 0">
      <div class="col-sm-12">
        <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
          <button type="button" class="close font__size-18" data-dismiss="alert">
									<span aria-hidden="true"><a>
                    <i class="fa fa-times greencross"></i>
                    </a></span>
									<span class="sr-only" (click)="reset()" >Close</span> 
								</button>
          <i class="start-icon far fa-check-circle faa-tada animated"></i>
          <strong class="font__weight-semibold">Well done!</strong> Cube Creat successfully.
        </div>
      </div>
    </div>
  <div *ngIf= "loading && !MeassageError" >
    <app-maps></app-maps>
  </div>
  <div *ngIf="!loading">
      <mat-label style="color:black;font-size: 28px ; text-align: center; font-family: Georgia, serif;">
        Data_Base_Source
      </mat-label>
      <br><br><br>

                  <mat-label style="color:black;font-size: 23px;">
                     Choose an Analysis server name 
                   </mat-label>
                  <mat-form-field >
                    <mat-select  id="selectedServerSorceId" [(ngModel)]="selectedServerEngineSorceId" [compareWith]="comparer" >
                      <mat-option *ngFor="let obj  of liste_des_serveur " [value]="obj" (click)="setserveur(obj.Id)">
                        {{ obj.Name }} 
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <br>
                
              
                    <mat-label style="color:black;font-size: 23px;">
                      Choose data base  
                    </mat-label>
                  <mat-form-field >
                  
                    <mat-select  id="database-select" [(ngModel)]="selectedDataWarhouse" required>
                      <mat-option *ngFor="let obj  of liste_des_bd  " [value]="obj" (click)="setbasedonnees(obj.Name)"> {{ obj.Name }} </mat-option>
                      
                    </mat-select>
                  </mat-form-field>
                  <br>
 
             <mat-label style="color:black;font-size: 28px ; margin-left: 250px; margin-top: 20px;font-family: Georgia, serif;">
              Data_Base_Source
            </mat-label>
            <br><br><br>
                   <mat-label style="color:black;font-size: 23px;">
                 Choose a Server Engin  Name  
                    </mat-label>
                  <mat-form-field >
                    <mat-select  id="selectedServerSorceId" [(ngModel)]="selectedServerSorceId" [compareWith]="comparer" >
                      <mat-option *ngFor="let obj  of liste_des_serveur " [value]="obj" (click)="setserveur(obj.Id)">
                        {{ obj.Name }} 
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                
              
                    <mat-label style="color:black;font-size: 23px;">
                     Choose a data base (Data Warehouse)
                    </mat-label>
                  <mat-form-field >
                  
                    <mat-select  id="database-select" [(ngModel)]="selectedDatabase" required>
                      <mat-option *ngFor="let obj  of liste_des_bd  " [value]="obj" (click)="setbasedonnees(obj.Name)"> {{ obj.Name }} </mat-option>
                      
                    </mat-select>
                  </mat-form-field>
                  <br>
       
                <mat-label style="color:black;font-size: 28px ; margin-left: 250px; margin-top: 20px;font-family: Georgia, serif;">
                  Destination </mat-label>
                  <br>
                <mat-label style="color:black;font-size: 23px ;"> Choose a destination server </mat-label>
              <mat-form-field >
                <mat-select multiple id="ServerAnalyse" [(ngModel)]="selectedServer" [compareWith]="comparer" >
                  <mat-option *ngFor="let obj  of liste_des_serveur " [value]="obj" >
                     {{ obj.Name }} 
                  </mat-option>
                </mat-select>
              </mat-form-field>
       
              <br>
               <mat-label style="color:black;font-size: 23px;">  Set a Name to the Cube </mat-label>
                   <mat-form-field class="example-full-width">
                    <br>
                   
                     <input matInput  [(ngModel)]="newCubename"  >
                   </mat-form-field>
          
        

     
          <button type="button" class="btn btn-success"   (click)="Dispatch()"  style="width:80% ; margin: top 30px; margin-left: 120PX; text-align: center ; text-size-adjust:3px ;"> Dispatch   <br> <i class="material-icons" >send</i></button>
      
     
      <br>   

  </div>