<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
  
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
          <div class="card-header bg-transparent">
            <figure style="display: flex; align-items: center;" >
            <img src="../../../assets/img/brand/cu.png" alt="Logo HubSpot" width=5% height=5% alt="Découvrez notre logo !"/> 
            <br>
            <h1>Add New Cube </h1>
              </figure>
          </div>
          <header>
            
          </header>
      <!-- Template pour l'interface utilisateur -->
  
     <br>
            <h2>      Select a data source view or diagram </h2>
            
            <h4>Data source view:</h4>
            <select id="database-select" [(ngModel)]="selectedDatabase" (change)="onDatabaseChange()">
              <option *ngFor="let database of databaseDisplays | keyvalue" [value]="database.value" >{{database.value}}</option>
            </select>
    
          <br>
              <h2>Select the tables that will beused for measure groups.</h2>
                <h4> Measure group tables:</h4>
                <label for="selectedTables"></label>
                <select    id="selectedTables" [(ngModel)]="selectedTables" name="selectedTables">
                  <option *ngFor="let table of tablesDisplay | keyvalue" [value]="table.value">{{table.value}}</option>
                </select>
        
          <br>
          <h2>Select new dimensions to be created, based on available tables.</h2>
          <h4> Measure group tables:</h4>

          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let column of columnsDisplay">
                <td>{{ column[0] }}</td>
                <td>{{ column[1] }}</td>
              </tr>
            </tbody>
          </table>
          <br>
      
      
            <button (click)="openSwal()" type="button"  style="width:150px;justify-content: center; " >Add Cube </button>
            

    </div>
  </div>
</div>
