

<div class="main-content">

  <div style="color:black;font-size: 40px ;text-align:center; margin-top: 20px;font-style: oblique;">Summary</div>
  <br>
 <div style="color:black;font-size: 23px;">Source server name: </div>
   <br>
     <br>
 
  <div style="color:black;font-size: 23px;"> Data base source name:</div>
    <br>
      <br>
  
   <div style="color:black;font-size: 23px;"> Fact_table: </div>
     <br>
       <br>
   <div style="color:black;font-size: 23px; display:inline block;">Dimenssion:</div>
   <br>


<table class="table table-bordered,table-light">
  <thead>
    <tr>
      <th>Dimession_name</th>
      <th>Primary Key</th>
    </tr>
  </thead>
  <tbody>
    <!-- table content here -->
  </tbody>
</table>
<br>
<div style="color:black;font-size: 23px;">Relations between fact_table and dimenssions:</div>
  <br>
 

<table class="table table-bordered,table-light">
  <thead>
    <tr class="table-success">
      <th>Dimenssion Primary Key</th>
      <th>fact Foreign Key</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>test</td>
      <td>test</td>
      <td>test</td>
   </tr>
    <!-- table content here -->
  </tbody>
</table>
<br>
<div style="color:black;font-size: 23px;">Mesure:</div>
<br>
 

<table class="table table-bordered,table-light">
  <thead>
    <tr>
      <th>Mesure Name</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <!-- table content here -->
  </tbody>
</table>
<br>
<div style="color:black;font-size: 23px;">Cube Name:</div>
<br>
<br>

<div style="color:black;font-size: 23px;">Destination server:</div>
<br>

  <!-- <div class="container">
    <div class="animation">
      <div class="i-mail">
        <div class="mail-anim"></div>
      </div>
      <div class="line"></div>
      
      <div class="i-success">
        <div class="success-anim"></div>
      </div>
    </div>
    <div class="message">Your message has been sent successfully</div>
  </div> -->
</div>
