@model LogoutViewModel

<div class="logout-page">
   

    <form asp-action="Logout">
        <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
        <div class="form-group">
            <button class="btn btn-primary">logout</button>
        </div>
    </form>
</div>
